<span  class="col-md-10 panel panel-default" style="height:100%;">
  <h2>Events</h2>

  <button type="button" ng-click="openMergeDialog()" class="btn btn-danger" data-toggle="modal" data-target="#merge_dialog">統合</button></li>

<div ng-repeat="clazz in clazzes">
  <a ng-click="tournamentView(clazz)"><h3>{{clazz.name}}</h3></a>
  <table class="table table-border table-condensed table-stripe">
    <tr>
      <th>No.</th>
      <th>氏名</th>
      <th>フリガナ</th>
      <th>所属</th>
      <th>級・段</th>
      <th>トゥル</th>
      <th>マッソギ</th>
      <th>スペシャル</th>
    </tr>
    <tr ng-repeat="player in clazz.players">
      <td>{{player.id}}</td>
      <td>{{player.name}}</td>
      <td>{{player.kana}}</td>
      <td>{{player.dojo}}</td>
      <td>{{player.level}}</td>
      <td>{{player.tul}}</td>
      <td>{{player.massogi}}</td>
      <td>{{player.special}}</td>
    </tr>
  </table>
</div>
</span>

<div class="modal" id="merge_dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="modal-label">クラス統合</h4>
      </div>
      <div class="modal-body">
	<div>
	  <span>クラス：</span>
	  <span>
	    <select ng-model="clazz1" ng-options"clazz as clazz in clazzes"></select>
	  </span>
	</div>
	<div>
	  <span>クラス：</span>
	  <span>
	    <select ng-model="clazz2" ng-options"clazz as clazz in clazzes"></select>
	  </span>
	</div>
	<div>
	  <button type="button" ng-click="merge()">統合</button>
	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">OK</button>
      </div>
    </div>
  </div>
</div>
