<span  class="col-md-10 panel panel-default" style="height:100%;">
  <h2>Competitions</h2>

    <table class="table table-border">
      <tr>
	<th>id</th>
	<th>name</th>
	<th>entry form</th>
      </tr>
      <tr ng-repeat="competition in competitions" ng-click="editCompetition(competition)">
	<td>{{competition._id}}</td>
	<td>{{competition.name}}</td>
	<td>
	  <button type="button" class="btn btn-sm btn-info" ng-click="download(competition)">
	    download
	  </button>
	</td>
      </tr>
    </table>
  </div>

  <div>
    <button type="button" class="btn btn-primary" ng-click="createCompetition()">Create new competition</button>
  </div>
</span>

