<span  class="col-md-10 panel panel-default" style="height:100%;">
  <table class="table table-border">
    <tr>
      <th>氏名</th>
      <th>カナ</th>
      <th ng-repeat="meta in competition.metas">
	{{meta}}
      </th>
      <th ng-repeat="event in competition.events">
	{{event.name}}
      </th>
    </tr>
    <tr ng-repeat="player in players">
      <td>{{player.name}}</td>
      <td>{{player.kana}}</td>
      <td ng-repeat="meta in competition.metas">
	{{player.metas[meta]}}
      </td>
      <td ng-repeat="event in competition.events">
	{{player.events[event.name]}}
      </td>
    </tr>
  </table>

  <hr>
  {{ competition | json }}
  <hr>
  {{ players | json }}
</span>
